body
{
  margin: 0px;
  font-family: sans-serif;
}

.navbar
{
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a:link, .navbar a:visited
{
  padding: 30px;
  color: black;
  text-decoration: none;
}

.navbar a:hover
{
  color: forestgreen;
}

.header
{
  background-image: url("../immagini/montagna.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh; /* vh=viewport height */
  color: white;
  border: dashed 10px red;
}

.center-title
{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p
{
  margin-left: 35px;
  margin-right: 35px;
}

.immagine-parallax-strada
{
  background-image: url("../immagini/road.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  color: white;
}

.immagine-parallax-iphone
{
  background-image: url("../immagini/iphone.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  color: white;
}

.footer
{
  background-color: darkgray;
}

.footer-testo
{
  margin: 0px;
  padding: 20px;
}
